<h1>Login to the Tinely Developer</h1>

<p>
  <%= form_tag '/login' do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    <%= label_tag "Password" %>
    <%= password_field_tag :digest %>
    <%= submit_tag "Let's goooo!!" %>
  <% end %>
</p>

<p>
  <%= link_to "No thanks, let's go back...", root_path %>
</p>
