<h1>Ethereum Log-In</h1>

<p>
  <% if !logged_in? %>
    <button class="eth_connect">Connect Ethereum Wallet</button>
    <%= form_tag '/login' do %>
      <%= label_tag "Message" %>
      <%= text_field_tag :eth_message, "", size: 42, readonly: true, class: "eth_message" %> <br />
      <%= label_tag "Address" %>
      <%= text_field_tag :eth_address, "", size: 42, readonly: true, class: "eth_address" %> <br />
      <%= label_tag "Signature" %>
      <%= text_field_tag :eth_signature, "", size: 42, readonly: true, class: "eth_signature" %> <br />
      <%= submit_tag "Log-in with Ethereum", class: "eth_submit" %>
    <% end %>
    <br />... or
    <%= link_to "sign up", signup_path %>
    instead?
  <% else %>
    Hello
    <code><%= current_user.eth_address %></code>!
    Do you wish to
    <%= link_to "log out", logout_path, method: :destroy %>
    or
    <%= link_to "go back", root_path %>?
  <% end %>
</p>

<%= javascript_pack_tag 'sessions_new' %>
