<% if !logged_in? %>
  <h1>Login to the Tinely Developer</h1>
  <p>
    <%= form_tag '/login' do %>
      <%= label_tag "Name" %>
      <%= text_field_tag :username %>
      <%= label_tag "Password" %>
      <%= password_field_tag :password %>
      <%= submit_tag "Login" %>
    <% end %>
  </p>
  <p>
    <%= link_to "Back", root_path %> |
    <%= link_to "Sign Up", new_user_path, method: :get %>
  </p>
<% else %>
  <p> How did you get here? <%= link_to "Back", root_path %>
<% end %>
