
<h1>Ethereum Sign-Up</h1>

<p>
  <% if !logged_in? %>
    <button class="eth_connect">Connect Ethereum Wallet</button>
    <%= form_for @user, url: signup_path do |form| %>
      <%= form.label "Name (optional)" %>
      <%= form.text_field :username %> <br />
      <%= form.label "Address" %>
      <%= form.text_field :eth_address, size: 42, readonly: true, class: "eth_address" %> <br />
      <%= form.submit "Sign-up with Ethereum", class: "eth_submit" %>
    <% end %>
    <br />... or
    <%= link_to "log in", login_path %>
    instead?
  <% else %>
    Hello
    <code><%= current_user.eth_address %></code>!
    Do you wish to
    <%= link_to "log out", logout_path, method: :destroy %>
    or
    <%= link_to "go back", root_path %>?
  <% end %>
</p>

<%= javascript_pack_tag 'users_new' %>
