<% if !logged_in? %>
  <h1>Sign up for the Tinely Developer</h1>
  <p>
    <%= form_for @user do |form| %>
      <%= form.label "Name" %>
      <%= form.text_field :username %>
      <%= form.label "Password" %>
      <%= form.password_field :password %>
      <%= form.submit "Sign Up" %>
    <% end %>
  </p>
  <p>
    <%= link_to "Back", root_path %> |
    <%= link_to "Login", login_path, method: :get %>
  </p>
<% else %>
  <p> How did you get here? <%= link_to "Back", root_path %>
<% end %>
