<h1>Ethereum Sign-Up</h1>
<p>
  <em>
    Connect to an Ethereum wallet and retrieve an Ethereum
    account. Allow the user to also specify a user name. For simplicity, we do
    not verify the user actually owning the account. This is only required for
    log-ins.
  </em>
</p>
<p>
  <% if !logged_in? %>
    <button class="eth_connect">Connect Ethereum Wallet</button>
    <%= form_for @user, url: signup_path do |form| %>
      <%= form.label "Name (optional)" %>
      <%= form.text_field :username %> <br />
      <%= form.label "Address" %>
      <%= form.text_field :eth_address, size: 42, readonly: true, class: "eth_address" %> <br />
      <%= form.submit "Sign-up with Ethereum", class: "eth_submit" %>
    <% end %>
    <br />... or
    <%= link_to "log in", login_path %>
    instead? or
    <%= link_to "go back", root_path %>?
    <hr />
    <%= debug session.to_h %>
  <% else %>
    Hello
    <code><%= current_user.eth_address %></code>!
    Do you wish to
    <%= link_to "log out", logout_path, method: :destroy %>
    or
    <%= link_to "go back", root_path %>?
    <hr />
    <%= debug current_user %>
    <%= debug session.to_h %>
  <% end %>
</p>

<%= javascript_pack_tag 'users_new' %>
