<h1>Sign up for the Tinely Developer</h1>

<p>
  <%= form_for @user do |form| %>
    <%= form.label "Name" %>
    <%= form.text_field :username %>
    <%= form.label "Password" %>
    <%= form.password_field :password_digest %>
    <%= form.submit "Let's goooo!!" %>
  <% end %>
</p>

<p>
  <%= link_to "No thanks, let's go back...", root_path %>
</p>
