<!DOCTYPE html>
<html>
  <head>
    <title>Ethereum on Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <p class="notice" style="color:DodgerBlue"><%= notice %></p>
    <p class="alert" style="color:Tomato"><%= alert %></p>
    <%= yield %>
    <%= debug current_user if logged_in? %>
    <%= debug session.to_h %>
  </body>
</html>
